<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-row-padding">
    <div class="w3-col s4">
        <div class="w3-card" style="">
            <header class="w3-container w3-center">
                <h1>Requests</h1>
            </header>
            <div class="w3-row w3-grey">
                <div class="w3-col s12 w3-center"><p>github.com/requests/requests</p></div>

            </div>
            <div class="w3-row w3-light-grey">
                <div class="w3-col s4 w3-center"><p>3 New</p></div>
                <div class="w3-col s4 w3-center"><p>Using 1.03</p></div>
                <div class="w3-col s4 w3-center"><p>Latest 1.07</p></div>
            </div>

            <div class="w3-row">
                <div class="w3-col s12 w3-light-green w3-center"><p>34 Improvements</p></div>
            </div>
        </div>
    </div>

    <div class="w3-col s4">
        <div class="w3-card" style="">
            <header class="w3-container w3-center">
                <h1>Requests</h1>
            </header>
            <div class="w3-row w3-grey">
                <div class="w3-col s12 w3-center"><p>github.com/requests/requests</p></div>

            </div>
            <div class="w3-row w3-light-grey">
                <div class="w3-col s4 w3-center"><p>3 New</p></div>
                <div class="w3-col s4 w3-center"><p>Using 1.03</p></div>
                <div class="w3-col s4 w3-center"><p>Latest 1.07</p></div>
            </div>

            <div class="w3-row">
                <div class="w3-col s12 w3-light-green w3-center"><p>34 Improvements</p></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
