<!DOCTYPE html>
<html>
<title>Deepen</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-blue">
    <h2>Deepen / projects / {{project.name}}</h2>
    <p>{{project.repo_url}}</p>
</div>

<div class="w3-content" style="max-width:680px">
<div class="w3-row-padding" style="margin: 0 -16px">
    {% for dep in project.deps %}
    <div class="w3-third">
        <div class="w3-card w3-margin w3-light-grey" style="width: 200px">
            <div class="w3-container w3-center" style="height: 50px;">
                <p>{{dep.name}}</p>
            </div>
            <!--<div class="w3-row w3-grey">-->
                <!--<div class="w3-col s12 w3-center"><p>github.com/requests/requests</p></div>-->
            <!--</div>-->
            {% if dep.version is defined %}
            <footer class="w3-row w3-grey" style="height: 70px;">
                <div class="w3-col s4 w3-center"><p>Using   {{dep.version}}</p></div>
                <div class="w3-col s4 w3-center"><p>Updates  {{dep.diff}}</p></div>
                <div class="w3-col s4 w3-center"><p>Latest {{dep.latest_version}}</p></div>
            </footer>
            {% else %}
            <footer class="w3-row" style="height: 70px"/>
            {% endif %}

            <!--<div class="w3-row">-->
                <!--<div class="w3-col s12 w3-light-green w3-center"><p>34 Improvements</p></div>-->
            <!--</div>-->
        </div>
    </div>
    {% endfor %}
</div>
</div>
</body>
</html>